asgiref==3.4.1
Django==3.2.7
django-cors-headers==3.8.0
django-phonenumber-field==5.2.0
django-rest-framework-nested==0.0.1
djangorestframework==3.12.4
drf-nested-routers==0.93.3
phonenumbers==8.12.31
psycopg2==2.9.1
pytz==2021.1
sqlparse==0.4.2
